apiVersion: v1
kind: Secret
metadata:
  name: flashcards-credentials
type: Opaque
data:
  postgresUser: cG9zdGdyZXM=
  postgresPassword: cGxlYXNlY2hhbmdlbWU=
  baseUrl: d3d3LmNoYW5nZW1lLmRl
  ---
apiVersion: v1
kind: Secret
metadata:
  name: basic-auth
  namespace: default
data:
  auth: Y29tcHV0ZXI6JGFwcjEkZ2o3ai5OeTkkYlFxUXd6TTdzeEFPeWZId1BETTFQMAo=
type: Opaque